.acf-field-flexible-content[data-name="list_bloc_slider_actu"] .acf-flexible-content .values .layout:nth-child(2) .acf-fc-layout-handle {
    background: #0DA4B5;
    color: #fff;
    font-weight: bold;
}